#menu {
	background: #e97b00 url('/common/img/nav/nav-bg-left.gif') no-repeat top left;
	height: 1%;
	font-size: 85%;
	font-weight: bold;
	white-space: nowrap;
	float:left;
	display: inline;
	margin: 0px 0px 0px 6px;
	padding: 0px;
	width: 99%;
	color:#fff;
}


#menu .bgRight {
	height: 1%;
	background: url('/common/img/nav/nav-bg-right.gif') no-repeat top right;
	
}

#menu a	{ 
	text-decoration: none;
}

#menu a:link { 
	color: #000000; 
}

#menu a:visited	{ 
	color: #000000; 
}

#menu a:hover { 
	color: #ffffff; 
}

#menu a:active	{ 
	color: #000000;
}

#menu ul {
	list-style-type: none;
	list-style-image: none;
	margin: 0px;
	padding: 0px 14px 0px 14px;
}

#menu li {
	background: url('/common/img/nav/nav-bg-separator.gif') no-repeat center right;
	float: left;
	margin: 0px;
	padding: 5px 5px 6px 5px;
}

#menu li.last {
	background: none;

}

#menu li a			{
	margin: 0px;
	padding: 0px 4px 0px 0px;
	white-space: nowrap;
}

#menu li.current {
	color: #015a84;	
}

#menu li.current.parent {
	font-weight: bold;	
}

#menu li.current a {
	color: #015a84; 
}

#menu li strong		{ 
	padding: 0px 4px 0px 0px; 
}

#menu li a strong 	{ 
	padding: 0px; 
}

/* For some poxy reason, IE requires this so that it doesn't overlay the background image.
   It doesn't appear to make any difference to FF. */

#menu .spacer {
	height:  5px ;
}

#menu .important		{ 
	 background: #01506B;
	 height: 10px;
}

#submenu {
	background: #015a84;
	float:left;
	padding:4px;
	width: 228px;
	margin: 0px 0px 6px 0px;
	color:#fff;
}

#submenu ul	{
	/* IE doesn't like list-style:none, it still uses images from previous definitions */
	list-style-type:none;
	list-style-image:none;
	margin:0px;
	padding:0px;
}

#submenu li	{
	font-size: 90%;
	margin:0px;
	padding: 2px;
}

#submenu li a { 
	padding: 3px;
	display: block;
	width: 98%;
	color: #fff;
	text-decoration:none; 
}


#submenu li.current {
	font-size: 100%;
	border: 1px solid #e0e0e0;
	padding: 3px;
	margin-top: 2px;

}

#submenu li.current a.current {
	color: #fff;
	font-weight: bold;	
}

#submenu li.current a.current:hover {
	color: #00648c;
	font-weight: bold;	
}

#submenu li.current a.current.subitems {
	color: #fff;
}

#submenu li a:hover { 
	background: #fff9f2;
	color: #00648c;
}

#submenu li.current a.current.subitems:hover { 
	color: #00648c;
}


#submenu ul.subitems1 {
	margin-left: 10px;
}

