/* style1 "default" */

center {
    text-align: center;
  }

/* Header */
div.box {
    border-style: solid;
    border-width: thin;
    /* Blue */
    background: #66250A;
    width: 100%;
  }

h1 {
    color: #FFFFFF;
    font-family: Comic Sans MS, Bold;
 }

#menu a	{
        font-weight: 900;
 	text-decoration: none;
}

#menu a:link { 
	color: #2E2E6B; 
}

#menu a:visited	{ 
	color: #2E2E6B; 
}

#menu a:hover { 
	color: #FFFFFF; 
}

#menu a:active	{ 
	color: #2E2E6B;
}

p { font-family: sans-serif;  }

/* Navagation Bar */
table.Nav {

    padding: 3px;	
    border-style: solid;
    border-width: thin;
    border-color: #000000;
    /*background-color: rgb(64,64,64);*/
    background-color: #66250A;
    width: 100%;
  }

tr.Nav{
    background: #FFFFFF;
  }

body {
    margin-left: 15%;
    margin-right: 15%;
    color: black;
    /*background: rgb(100,100,100);*/
    background: #D8E0F0;	
  }

table.Art
{
}

table.Main {
    font-family: sans-serif;	
    font-size: small;
    border-style: solid;
    border-width: thin;
    border-color: black;
    background-color: #FFFFFF;
 }

TABLE .NT
{
	background-color: aqua;
}
