<?php
	// database configuartion
	$db_name = "music";
	$db_address = "192.168.81.50";
	$db_user_name = "web";
	$db_password = "sas*.0125";
	
	// customization
	$site_name = "Music Web";
	$style = "main_web.css";
	
	// global version 
	$version = "0.0.1";
	$version_date = "Sunday July 20 4:37 AM CDT 2008";
	
	// art location, relative to document root
	$art_location = "/music_web/.album_art";
	
	// music location, relative to document root
	$music_location = "/music";
?>